<MarketplaceDetails>
  <SmallAppTile>MapPin-Black300x300.png</SmallAppTile>
  <ScreenShots>ScreenShot_1.png;ScreenShot_2.png;ScreenShot_3.png;ScreenShot_4.png;ScreenShot_5.png;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>